@font-face {
    font-family: odin-font;
    src: url(./font/Norse-Bold.otf);
}

* {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 900;
}

body {
    width: 100%;
}

div.main {
    display: flex;
}

div.bg-image {
    position: relative;
}

div.logo {
    display: flex;
    position: absolute;
    width: 100%;
    background-color: black;
    opacity: 0.33;
    top: 1rem;
    text-align: center;
}

.odin-logo {
    height: 4rem;
    color: white;
    opacity: 1;
}

.odin-text {
    font-family: odin-font;
    color: white;
}

img.bg-fern {
    width: 100%;
    /* border: 0; */
}

.top-text {
    width: 80%;
    padding-top: 120px;
    padding-left: 45px;
    background-color: #F9FAFB;
}