@font-face {
    font-family: odin-font;
    src: url(./font/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #383839;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}

div.main {
    display: flex;
    align-items: center;
    max-width: 90%;
    height: 700px;
    border-radius: 8px;
    box-shadow: 2px 0 10px #d6d4d4;
    overflow: hidden;
}

div.bg-image {
    position: relative;
    width: 50%;
    min-width: 250px;
}

div.logo-container {
    position: absolute;
    top: 20%;
    width: min(700px, 100%);
    height: 20%;
    background-color: black;
    opacity: 0.33;
}

div.logo {
    position: absolute;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
}

div.logo img {
    height: 80%;
    color: white;
}

div.logo p {
    font-family: odin-font;
    font-size: 4rem;
    color: white;
    padding-top: 5%;
}

img.bg-fern {
    height: 900px;
    width: 100%;
}

div.credit-container {
    position: absolute;
    bottom: 11%;
    width: 100%;
    font-family: sans-serif;
}

div.bg-image p.credit,
div.bg-image p a {
    text-align: center;
    font-size: 0.5rem;
    color: white;
}

.main-text {
    height: 700px;
    width: 100%;
    min-width: 500px;
}

.top-text-container {
    align-items: center;
    background-color: #F9FAFB;
    height: 33%;
}

.top-text {
    width: 80%;
    padding: 30px 0 60px 45px;
}

.form-container {
    height: 40%;
    position: relative;
    z-index: 10;
    box-shadow: 0 5px 10px #949292;
}

.form {
    padding: 10px 0 20px 45px;
}

.form div {
    display: flex;
    flex-flow: row wrap;
}

.form > div > div {
    width: 40%;
    margin-right: 20px;
    padding-bottom: 20px;
}

label {
    display: inline-block;
    width: max(250px, 50%);
    padding-bottom: 2px;
    color: #575E69;
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
}

input {
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    background-color: #F9FAFB;
    color: #575E69;
    padding: 5px;
    padding-left: 10px;
    font-size: 0.7rem;
}

input:focus {
    box-shadow: 5px 5px 5px #E5E7EB;
}

input:invalid {
    border: 1px solid red;
}

.pwd:required + span::after,
.pwd-confirm:required + span::after {
    position: relative;
    content: '* Passwords do not match';
    font-size: 0.5rem;
    color: red;
}

.submit-container {
    padding: 20px 0 120px 45px;
    background-color: #F9FAFB;
}

button {
    width: 230px;
    background-color: #596D48;
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 0.7rem;
    padding: 10px;
}

.submit-container p,
.submit-container a {
    font-size: 0.7rem;
}

.submit-container a {
    color: #596D48;
}